[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.top-menu {
    height: 49px;
    border-bottom: 1px solid;
}

.user-data > *{
    padding-right: 8px;
}

.pull-left {
    float: left;
}

/* for GameCanvas */
.canvas-wrapper {
    position: relative;
    height: 0;
}
#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
}
